---
layout: base.njk
permalink: /search/
eleventyCompute:
  title: "Search Games | {{ site.title }}"
  description: "Search our collection of games"
---

<div class="search-header">
  <h1>Search Games</h1>
  <div class="search-container">
    <input 
      type="text" 
      id="searchPageInput" 
      placeholder="Search games, pages, categories..."
      autocomplete="off"
    >
    <div id="searchDropdown" class="search-dropdown"></div>
  </div>
</div>

<div id="searchResults" class="search-results container"></div>
<div id="pagination" class="pagination container"></div>
